# Node modules
frontend/node_modules/
backend/node_modules/

# Vite build files
frontend/dist/

# Environment files
frontend/.env
backend/.env

# Logs
*.log

# Google credentials
serviceAccount.json
backend/serviceAccount.json

*.zip

